@font-face {
  font-family: "Matroska";
  src: URL("../fonts/Matroska-RppG6.ttf") format("truetype");
}
body {
  font-family: "Geometria" !important;
  padding: 0 5%;
}

.limited_width {
  max-width: 1400px;
  margin: auto;
}

header {
  margin-top: 1.5rem;
}

.logo {
  max-width: 250px;
}

.phone_block a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #023540;
  text-decoration: none;
}

.primary_button {
  background: #b8da46;
  border-radius: 10px;
  padding: 10px 33px 12px;
  color: #023540;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  font-style: normal;
  font-weight: 600;
}

.primary_button:hover {
  background: #023540;
  color: #b8da46;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.header_top_content {
  border-bottom: 1px solid #b8da46;
  padding-bottom: 0.75rem;
}

.header_menu_items {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #023540;
  margin-right: 1.5rem;
  text-decoration: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header_menu_items:hover {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #b8da46;
}

.social_link {
  background: #b8da46;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.social_top-img {
  width: 26px;
}

.social_link:hover {
  background: #023540;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.content_title {
  color: #b8da46;
}

.title_line .second_title {
  color: #023540;
}

.header_content {
  background-image: url("../images/header_content_img.png");
  background-size: contain;
  background-position: center right;
  background-repeat: no-repeat;
  width: 100%;
}

.header_content_overlay {
  padding: 100px 0;
}

.line {
  height: 1px;
  background: #b8da46;
}

.line-small {
  width: 75px;
}

.line-large {
  width: 100%;
}

.text-green {
  color: #b8da46;
}

.section_title span:last-child {
  white-space: nowrap;
}

h1.content_title,
h2.second_title {
  font-size: 48px;
  font-style: normal;
  font-weight: 300;
  line-height: 60px;
}

h3.three_title,
.section_title {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
}

.bold_title {
  font-weight: 500;
}

.hidden_button_header,
.hamburger_menu_button {
  display: none;
}

.burger_icon {
  width: 45px;
}

.icons-size {
  width: 175px;
}

.section_items_title {
  font-weight: 800;
  font-size: 20px;
  line-height: 25px;
}

.section_items_description {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #023540;
}

.section_call_to_action_text {
  color: #023540;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}

.text-secondary-color {
  color: #023540;
}

@media (min-width: 570px) and (max-width: 768px) {
  .button_right_block {
    display: none !important;
  }
  .hidden_button_header {
    display: block;
  }
  .header_right_block {
    margin-top: 16px;
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .header_content_overlay {
    padding: 50px 0;
  }
  h1.content_title,
h2.second_title {
    font-size: 36px;
    line-height: 48px;
  }
  h3.three_title,
.section_title {
    font-size: 22px;
    line-height: 26px;
  }
}

@media screen and (max-width: 820px) {
  .header_content_overlay {
    background: rgba(255, 255, 255, 0.5);
  }
}

@media screen and (max-width: 625px) {
  .button_right_block, #right-header-content, .hidden_button_header, #navigation-md {
    display: none !important;
  }
  .hamburger_menu_button {
    display: block;
  }
  .section_items_title, .section_call_to_action_text {
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
  }
}